<div class="row">
  <div class="col-xs-12">
    <img style="max-height: 300px;"src="{{recipe.imagePath}}" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipes <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="onToShoppingClick()" style="cursor: pointer;">To shopping list</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Ingredients</h2>
    <div class="list-group-item clearfix" *ngFor="let ingredient of recipe.ingredients">
      <h4 class="list-group-item-heading">{{ingredient.name}}</h4>
      <p class="list-group-item-text">Amount ({{ingredient.amount}})</p>
    </div>
  </div>
</div>
